* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 40px;
  background-color: white;
  position: sticky;
  top: 0;
}

header > div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

header a {
  padding: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.burger-menu {
  display: none;
}

.last-span-header {
  display: none;
}

footer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf1ed;
  width: 100%;
  height: 200px;
}

footer img {
  width: 40px;
  margin-right: 5px;
}

footer img:hover {
  width: 40px;
  cursor: pointer;
  transform: rotate(0.5turn);
}

i {
  padding: 5px;
}

main p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.container {
  border: 1px solid red;
  width: 100%;
  max-width: 1135px;
  padding: 0 20px;
  margin: 0 auto;
}

main {
  margin-top: 30px;
}

.logo {
  width: 190px;
  height: 40px;
}

header .container {
  justify-content: space-between;
}

header nav {
  width: 500px;
}
.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.navigation a {
  padding: 10px;
  height: 60px;
  display: flex;
  flex: 1;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  /* align-items: center; */
}
.navigation a:hover {
  background-color: black;
  color: white;
}

.menu-nav a:hover {
  background-color: lightgray;
  color: white;
  border-radius: 20px;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  letter-spacing: 1.1px;
  line-height: 70px;
}

h2 {
  font-family: "TS-Reg", sans-serif;
  font-size: 30px;
}

.descriptif {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

/* partie "slider"*/
.navigation-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}

.navigation-menu > div {
  padding: 12px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.pictures-bloc {
  height: 430px;
  margin-bottom: 100px;
  display: flex;
  gap: 2px;
}

.left-bloc {
  max-width: 100%;
  height: 100%;
  flex: 1;
}

.right-bloc {
  width: 480px;
  height: 100%;
}

.right-bloc > div {
  height: calc(50% - 1px);
  width: 100%;
}

.right-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.left-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-bloc div:first-child {
  margin-bottom: 2px;
}

.navigation .responsivnav {
  display: none;
}

/* boutton */
button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border-radius: 20px;
  height: 35px;
  color: #eeeeee;
  text-align: center;
  width: 140 px;
  border: 0;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}

/* section 2*/
.map {
  display: flex;
}

/* carroussel */

.carroussel {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

h5 {
  font-size: 18px;
}

.col2 p {
  margin-left: 5px;
}

.col1 {
  width: 300px;
  padding-right: 20px;
}

.col2 {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 300px;
  background-color: white;
  overflow-x: scroll;
}

.col2 img:first-child {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.carrousel-box {
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  width: 260px;
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fa-circle {
  font-size: 13px;
  color: #04aa6c;
}
.dot {
  display: flex;
  justify-content: flex-start;
}

.award-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 135px;
  cursor: pointer;
}

.carrousel-box .fa-heart {
  display: flex;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: lightgray;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carrousel-box .fa-heart:hover {
  background-color: grey;
}

/*partie 3*/

.guide {
  border: 1px blue solid;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  object-fit: cover;
}
.guide img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.guide h5 {
  width: 92%;
}

/* ------ second part ------ */
.second-section {
  padding-top: 20px;
}

#buttonTravel {
  border: 0;
  font-size: 1rem;
  line-height: 2;
  border-radius: 17px;
  text-align: center;
  background-color: black;
  color: #efefef;
}
#buttonTravel:hover {
  opacity: 0.5;
  border-radius: 17px;
  cursor: pointer;
}

div.flex {
  display: flex;
  object-fit: cover;
}

div.column1 {
  display: block;
  height: auto;
  width: 70%;
}

div.column1 h2 {
  height: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

div.column1 p {
  text-align: start;
  margin-right: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
}

div.column2 {
  width: 428px;
  height: 100%;
  background-color: #ff5d5d;
  border-radius: 10px;
}

div.column2 div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 200px;
}

div.column2 div.text-desc {
  height: 282px;
  width: 425px;
  padding: 32px;
  justify-content: start;
}

div.column2 p {
  padding-top: 20px;
  line-height: 20px;
}

div.column2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.sectionform {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 420px;
  height: 650px;
  border-radius: 10px;
  border: 1px solid black;
}

form h2 {
  margin-bottom: 30px;
}

input {
  padding: 0 5px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 270px;
}

textarea {
  height: 120px;
  width: 270px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-top: 10px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttonform {
  background-color: #04aa6c;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  height: 60px;
  width: 200px;
  font-size: 16px;
}

.buttonform:hover {
  background-color: white;
  border: 4px solid black;
  color: black;
}

/* media query */
@media (max-width: 1024px) {
  .right-bloc {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation .responsivnav {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navigation {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .menu-nav a {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .last-span-header {
    display: inherit;
  }
}
