* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg, sans-serif;
}

header > div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

header a {
  padding: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
}

i {
  padding: 5px;
}

main p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
}

header a:hover {
  background-color: grey;
  border-radius: 20px;
  color: white;
}

.container {
  width: 1135px;
  padding: 0 20px;
  margin: 0 auto;
}

main {
  margin-top: 30px;
}

.logo {
  width: 190px;
  height: 40px;
}

header .container {
  justify-content: space-between;
}

header nav {
  width: 500px;
}
.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navigation a {
  height: 60px;
  display: flex;
  flex: 1;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navigation a:hover {
  background-color: black;
  color: white;
}

h1 {
  padding-top: 20px;
  font-size: 54px;
  letter-spacing: 1.1px;
  line-height: 70px;
}

.imagesfront {
  display: flex;
  flex-flow: column;
}

/* boutton */
button {
  font-family: TS-Reg, sans-serif;
  background-color: black;
  border-radius: 20px;
  height: 30px;
  color: #eeeeee;
  text-align: center;
  width: 140 px;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}
